.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar li a{
    font-size: 1.7rem;
    color: var(--text-color);
    transition: .3s;
}

.navbar li a:hover{
    color: var(--main-color);
}

.navbar .menu{
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.navbar .menu span{
  height: 0.6rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
  font-size: 2.5rem;
  padding: 2px;
  position: relative;
  top: 10px;
}


@media (max-width:500px){
    .navbar .menu{
        display: flex;
    }

    .navbar{
        flex-direction: column;
        align-items: start;
    }

    .navbar ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    .navbar ul .open{
        display: flex;
    }

    .navbar li{
        width: 100%;
        text-align: center;
    }

    .navbar li a{
        margin: 0.2rem 0.5rem;
    }

    .navbar ul.open{
        display: flex;
    }
}








